<%- title "Dashboard" -%>

<%- add_js "highcharts.js", "bikelog/highcharts-theme.js" -%>
<%- add_js "bikelog/dashboard-activity-plots.js" -%>

<h1>Dashboard</h1>

<script>
  $(function() {
    Bikelog.DashboardActivityPlots.setup("dashboard-activity-distance-plot", "dashboard-activity-duration-plot", "<%= dashboard_activity_plots_data_path(:json) %>");
  });
</script>

<div id="dashboard">
  <p>
    In total, you have ridden
    <strong><%= format_distance(@total_distance) %></strong> in
    <strong><%= dashboard_duration(@total_duration) %></strong>.<br>
    You have created <strong><%= @logs_count %> logs</strong> so far.
  </p>
</div>

<div id="dashboard-activity">
  <h2>Your Activity in the last 12 Months</h2>
  <div id="dashboard-activity-left-column">
    <table id="dashboard-last-12-months-activity">
      <thead>
        <tr>
          <th class="l">Month</th>
          <th class="r">Total Duration</th>
          <th class="r">Total Distance</th>
        </tr>
      </thead>
      <tbody>
        <%- @last_12_months_activity.each do |date, activity| -%>
          <tr class="<%= "no-activity" if activity[:distance] == 0 and activity[:duration] == 0 %>">
            <td><%= date.strftime("%B %Y") %></td>
            <td class="r"><%=format_duration activity[:duration] %></td>
            <td class="r"><%=format_distance activity[:distance] %></td>
          </tr>
        <%- end -%>
      </tbody>
      <tfoot>
        <tr>
          <td class="r" colspan="2"><%=dashboard_duration @last_12_months_activity.map { |d, a| a[:duration] }.sum %></td>
          <td class="r"><%=format_distance @last_12_months_activity.map { |d, a| a[:distance] }.sum %></td>
        </tr>
      </tfoot>
    </table>
  </div>
  <div id="dashboard-activity-right-column">
    <div id="dashboard-activity-distance-plot"></div>
    <div id="dashboard-activity-duration-plot"></div>
  </div>
  <br class="clear">
</div>
