<%- title "Track #{@track.id}" -%>

<%- add_js "http://maps.google.com/maps/api/js?sensor=false" -%>
<%- add_js "highcharts.js", "bikelog/highcharts-theme.js" -%>
<%- add_js "bikelog/tabs.js", "bikelog/douglas-peucker.js" -%>
<%- add_js "bikelog/map.js", "bikelog/distance-elevation-plot.js" -%>

<script>
  $(function() {
    Bikelog.Map.setup("track-map", "<%= log_track_trackpoints_path(@track.log, @track, :json) %>");
    Bikelog.DistanceElevationPlot.setup("track-distance-elevation-plot", "<%= plot_data_log_track_path(@track.log, @track, :json) %>");
  });
</script>

<h1 id="track-name" data-default-name="<%= "Track #{@track.id}" %>"><%= @track.display_name %></h1>

<div id="track-page">
  <div id="track-left-column">
    <div id="track-map"></div>
    <p>
      This track belongs to log <%= link_to @track.log.name, @track.log %>.
    </p>
    <div id="track-tabs" class="tabs">
      <div id="distance-elevation-plot-tab" class="tab">
        <h2>Elevation Profile</h2>
        <div id="track-distance-elevation-plot"></div>
      </div>
    </div>
  </div>
  <div id="track-right-column">
    <div id="track-meta">
      <dl>
        <dt>Start Time</dt>
        <dd><%=l @track.start_time, :format => "%d.%m.%Y %H:%M" %></dd>
        <dt>End Time</dt>
        <dd><%=l @track.end_time, :format => "%d.%m.%Y %H:%M" %></dd>
        <dt>Moving Time</dt>
        <dd><%=format_duration @track.moving_time %></dd>
        <dt>Stopped Time</dt>
        <dd><%=format_duration @track.stopped_time %></dd>
        <dt>Duration</dt>
        <dd><%=format_duration @track.duration %></dd>
        <dt>Distance</dt>
        <dd><%=format_distance @track.distance %></dd>
        <dt>Overall Avg. Speed</dt>
        <dd><%=format_speed @track.overall_average_speed %></dd>
        <dt>Moving Avg. Speed</dt>
        <dd><%=format_speed @track.moving_average_speed %></dd>
        <dt>Max. Speed</dt>
        <dd><%=format_speed @track.max_speed %></dd>
        <dt>Ascent</dt>
        <dd><%=format_elevation @track.ascent %></dd>
        <dt>Descent</dt>
        <dd><%=format_elevation @track.descent %></dd>
        <dt>Min. Elevation</dt>
        <dd><%=format_elevation @track.min_elevation %></dd>
        <dt>Max. Elevation</dt>
        <dd><%=format_elevation @track.max_elevation %></dd>
      </dl>
    </div>
    <div id="track-actions">
      <ol>
        <li><%= link_to "Export track as GPX", log_track_path(@track.log, @track, :format => :gpx) %>
        <li><%= link_to "Show trackpoints", log_track_trackpoints_path(@track.log, @track) %>
        <li><%= link_to "Rename this track", nil, :id => "track-rename-link" %>
        <%- if @track.log.tracks.size > 1 -%>
          <li><%= link_to "Delete this track", log_track_path(@track.log, @track), :method => :delete, :confirm => "Do you really want to delete this track?" %>
        <%- end -%>
      </ol>
    </div>
  </div>
  <br class="clear">
</div>

<div id="track-rename-pane" class="site-overlay">
  <div class="box">
    <div class="close">×</div>
    <h2>Rename this track</h2>
    <div class="content">
      <%= form_for [@track.log, @track], :remote => true do %>
        <%= text_field :track, :name %>
      <% end %>
    </div>
  </div>
</div>
