<%- title "Track #{@track.id}" -%>
<h1><%= "Track #{@track.id}" %></h1>

<div id="track-page">
  <div id="track-left-column">
    <div id="track-map"></div>
    <p>
      This track belongs to log <%= link_to @track.log.name, @track.log %>.
    </p>
    <h2>Distance–Elevation Plot</h2>
    <div id="track-distance-elevation-plot"></div>
  </div>
  <div id="track-right-column">
    <div id="track-meta">
      <dl>
        <dt>Start Time</dt>
        <dd><%= @track.start_time.strftime("%d.%m.%Y %H:%M") %></dd>
        <dt>End Time</dt>
        <dd><%= @track.end_time.strftime("%d.%m.%Y %H:%M") %></dd>
        <dt>Duration</dt>
        <dd><%= format_duration(@track.duration) %></dd>
        <dt>Distance</dt>
        <dd><%= format_distance(@track.distance) %></dd>
        <dt>Avg. Speed</dt>
        <dd><%= format_speed(@track.average_speed) %></dd>
        <dt>Max. Speed</dt>
        <dd><%= format_speed(@track.max_speed) %></dd>
        <dt>Ascent</dt>
        <dd><%= format_elevation(@track.ascent) %></dd>
        <dt>Descent</dt>
        <dd><%= format_elevation(@track.descent) %></dd>
        <dt>Min. Elevation</dt>
        <dd><%= format_elevation(@track.min_elevation) %></dd>
        <dt>Max. Elevation</dt>
        <dd><%= format_elevation(@track.max_elevation) %></dd>
      </dl>
    </div>
    <div id="track-actions">
      <ol>
        <li><%= link_to "Export track as GPX", log_track_path(@track.log, @track, :format => :gpx) %>
        <li><%= link_to "Show trackpoints", log_track_trackpoints_path(@track.log, @track) %>
        <li><%= link_to "Delete this track", log_track_path(@track.log, @track), :method => :delete, :confirm => "Do you really want to delete this track?" %>
      </ol>
    </div>
  </div>
  <br class="clear">
</div>

<%= javascript_include_tag "raphael-min" %>
<%= javascript_include_tag "plot" %>

<script>
  $(function() {
    setupMap("track-map", "<%= log_track_trackpoints_path(@track.log, @track, :json) %>");

    $.getJSON("<%= distance_elevation_data_log_track_path(@track.log, @track, :json) %>", function(points) {
      new Bikelog.Plot({
        container: "track-distance-elevation-plot",
        points: points
      }).draw();
    });
  });
</script>
