<%- title "Transfer Track" -%>

<div id="track-header">
  <h1>Transfer Track</h1>
  <p class="subtitle"><%= link_to @track.display_name, log_track_path(@track.log, @track) %></p>
</div>

<%= form_tag transfer_log_track_path(@track.log, @track) do %>
  <p class="track-transfer-help">
    Select the log you want the track to be transfered to …
  </p>
  <p>
    <%= select_tag :transfer_log_id, grouped_options_for_select(@logs), :include_blank => true %>
  </p>
  <p class="track-transfer-help">
    … or specify a name for a new log
  </p>
  <p>
    <%= text_field_tag :transfer_log_name, params[:transfer_log_name], :size => 60 %>
  </p>
  <p>
    <%= submit_tag "Transfer Track", :id => "track-transfer-button" %>
  </p>
<% end %>
