<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login — Tracklog</title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "auth" %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <%= form_tag login_path %>
      <div id="login-dialog">
        <div class="login-dialog-box">
          <label for="username">
            Username
            <%= text_field_tag :username, "", :tabindex => 1 %>
          </label>
        </div>
        <div class="login-dialog-box">
          <label for="password">
            Password
            <%= password_field_tag :password, "", :tabindex => 2 %>
          </label>
        </div>
        <div class="login-dialog-box">
          <%= submit_tag "Login", :tabindex => 3 %>
        </div>
        <br class="clear">
      </div>
    </form>
  </body>
</html>
