<%- title "Your Logs" -%>
<h1>Your Logs (<%= @logs.size %>)</h1>

<table id="your-logs">
  <thead>
    <tr>
      <th class="l">Name</th>
      <th class="l">Start Time</th>
      <th class="l">End Time</th>
      <th class="r">Duration</th>
      <th class="r">Distance</th>
    </tr>
  </thead>
  <tbody>
    <%- @logs.each do |log| -%>
      <tr>
        <td><%= link_to log.name, log %></td>
        <td><%= log.start_time ? log.start_time.strftime("%d.%m.%Y %H:%M") : "—" %></td>
        <td><%= log.end_time ? log.end_time.strftime("%d.%m.%Y %H:%M") : "—" %></td>
        <td class="r"><%= format_duration(log.duration) %></td>
        <td class="r"><%= format_distance(log.distance) %></td>
      </tr>
    <%- end -%>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="4" class="r"><%= dashboard_duration(Log.total_duration) %></td>
      <td class="r"><%= format_distance(Log.total_distance) %></td>
    </tr>
  </tfoot>
</table>
