<%- title "Your Logs" -%>
<h1>Your Logs (<%= @logs.size %>)</h1>

<div id="your-logs">
  <%- @logs.each do |log| -%>
    <div class="log">
      <h2><%= link_to log.name, log %></h2>
      <ol>
        <%- if log.start_time -%>
          <li><b>Start:</b> <%= log.start_time.strftime("%d.%m.%Y %H:%M") %>
        <%- end %>
        <%- if log.end_time -%>
          <li><b>End:</b> <%= log.end_time.strftime("%d.%m.%Y %H:%M") %>
        <%- end %>
        <li><b>Duration:</b> <%= format_duration(log.duration) %>
        <li><b>Distance:</b> <%= format_distance(log.distance) %>
        <li><b>Avg. Speed:</b> <%= format_speed(log.average_speed) %>
        <li><b>Ascent:</b> <%= format_elevation(log.ascent) %>
      </ol>
    </div>
  <%- end -%>
</div>
