<%- title @log.name -%>

<%- add_js "http://maps.google.com/maps/api/js?sensor=false" -%>
<%- add_js "highcharts.js", "bikelog/highcharts-theme.js" -%>
<%- add_js "bikelog/tabs.js", "bikelog/douglas-peucker.js" -%>
<%- add_js "bikelog/map.js", "bikelog/distance-elevation-plot.js" -%>

<script>
  $(function() {
    Bikelog.Map.setup("log-map", "<%= log_tracks_path(@log, :json) %>");
    Bikelog.DistanceElevationPlot.setup("log-distance-elevation-plot", "<%= plot_data_log_path(@log, :json) %>");
  });
</script>

<div class="log-page">
  <h1><%= @log.name %></h1>
  <div id="log-left-column">
    <div id="log-map">
    </div>
    <div id="log-tabs" class="tabs">
      <%- if @log.comment and not @log.comment.empty? -%>
        <div id="description-tab" class="tab">
          <h2>Description</h2>
          <div id="log-comment">
            <%=raw RDiscount.new(@log.comment).to_html %>
          </div>
        </div>
      <%- end -%>
      <div id="distance-elevation-plot-tab" class="tab">
        <h2>Distance–Elevation Plot</h2>
        <div id="log-distance-elevation-plot"></div>
      </div>
      <div id="tracks-tab" class="tab">
        <div id="log-tracks">
          <h2>Tracks</h2>
          <table id="log-tracks-table">
            <thead>
              <tr>
                <th class="l">Name</th>
                <th class="l">Start Time</th>
                <th class="l">End Time</th>
                <th class="r">Duration</th>
                <th class="r">Distance</th>
                <th class="r">Ascent</th>
              </tr>
            </thead>
            <tbody>
              <%- @log.tracks.each do |track| -%>
                <tr>
                  <td><%= link_to "Track #{track.id}", log_track_path(@log, track) %></td>
                  <td><%= track.start_time.strftime("%d.%m.%Y %H:%M") %></td>
                  <td><%= track.end_time.strftime("%d.%m.%Y %H:%M") %></td>
                  <td class="r"><%= format_duration(track.duration) %></td>
                  <td class="r"><%= format_distance(track.distance) %></td>
                  <td class="r"><%= format_elevation(track.ascent) %></td>
                </tr>
              <%- end -%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div id="log-right-column">
    <div id="log-meta">
      <dl>
        <dt>Start Time</dt>
        <dd><%= @log.start_time ? @log.start_time.strftime("%d.%m.%Y %H:%M") : "—" %></dd>
        <dt>End Time</dt>
        <dd><%= @log.end_time ? @log.end_time.strftime("%d.%m.%Y %H:%M") : "—" %></dd>
        <dt>Moving Time</dt>
        <dd><%=format_duration @log.moving_time %></dd>
        <dt>Stopped Time</dt>
        <dd><%=format_duration @log.stopped_time %></dd>
        <dt>Duration</dt>
        <dd><%= format_duration(@log.duration) %></dd>
        <dt>Distance</dt>
        <dd><%= format_distance(@log.distance) %></dd>
        <dt>Avg. Speed</dt>
        <dd><%= format_speed(@log.average_speed) %></dd>
        <dt>Max. Speed</dt>
        <dd><%= format_speed(@log.max_speed) %></dd>
        <dt>Ascent</dt>
        <dd><%= format_elevation(@log.ascent) %></dd>
        <dt>Descent</dt>
        <dd><%= format_elevation(@log.descent) %></dd>
        <dt>Min. Elevation</dt>
        <dd><%= format_elevation(@log.min_elevation) %></dd>
        <dt>Max. Elevation</dt>
        <dd><%= format_elevation(@log.max_elevation) %></dd>
      </dl>
    </div>
    <div id="log-actions">
      <ol>
        <li><%= link_to "Export tracks as GPX", log_path(@log, :format => :gpx) %>
        <li><%= link_to "Edit this log", edit_log_path(@log) %>
        <li><%= link_to "Delete this log", @log, :method => :delete, :confirm => "Do you really want to delete this log?" %>
      </ol>
    </div>
  </div>
  <br class="clear">
</div>
