<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= yield(:title) %> – Bikelog</title>
    <script>var Bikelog = {};</script>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="header">
      <div class="site">
        <p class="info">
          Logged in as <strong><%= current_user.display_name %></strong>
          (<%= link_to "Log Out", logout_path, :method => :put %>)
        </p>
        <ul>
          <li><%= link_to "Dashboard", dashboard_path %>
          <li><%= link_to "Logs", logs_path %>
          <li><%= link_to "Add a Log", new_log_path %>
          <li><%= link_to "My Profile", profile_path %>
        </ul>
      </div>
    </div>

    <div class="site">
      <%- if flash[:notice] -%>
        <div id="flash-notice">
          <%= flash[:notice] %>
        </div>
      <%- end -%>

      <%- if flash[:error] -%>
        <div id="flash-error">
          <%= flash[:error] %>
        </div>
      <%- end -%>

      <%= yield %>
    </div>
  </body>
</html>
